.about{
    @include container(100%, 100%);

    .page-name{
        @include stroke(transparent, 2px, #000000)
    }

    .about-content-wrapper{
        @include display-flex(center,center);

        .about__title, .about__content{
            padding:4rem 1rem;
        }
    
        .about__title{
            border-right: 2px solid black;
            padding-bottom: 6rem;
            h1{
                font-size: 4.5rem;
                text-align: right;
                font-family: 'Anton', sans-serif;
            }
        }
    }
}

