@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Playfair+Display:wght@700&family=Poppins:wght@300;500&display=swap');

$primary-color: #00394B;
$text-color:#848484;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    overflow: hidden;
}

a, li, i{
    color: $primary-color;
}

p{
    color: $text-color;
    margin: 1rem 0px;
}

@mixin container {
    width: 100%;
    height: 100vh;
    padding: 1.5rem 3.5rem;
}

@mixin display-flex( $justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}