@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Poppins:wght@300;500&display=swap');

$primary-color: #121212;
$text-color:#848484;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}

a, li, i{
    color: #fff;

    &:hover{
        transform: scale(1.05);
        transition: .1s ease-in;
    }
}

a, li, i, button{
    cursor: pointer;
}

i{font-size: 2.5rem;}

p{
    color: $text-color;
    margin: 1rem 0px;
    font-size: 1.2rem;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

button{
    padding: 5px 15px;
    border-radius: 5px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    font-size: 1rem;

    &:hover{
        color: #000000;
        background-color: #fff;
        transition: .2s ease-in;
    }
}

@mixin container($width, $height) {
    width: $width;
    height: $height;
    padding: 1.5rem 2.5rem;
}

@mixin display-flex( $justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin stroke($fill-color, $stroke-width, $stroke-color) {
    -webkit-text-fill-color: $fill-color;
    -webkit-text-stroke-width: $stroke-width;
    -webkit-text-stroke-color: $stroke-color;
}

.page-name{
    text-align: right;
    font-size: 9vw;
    padding-top: 5rem;
    font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;
    letter-spacing: 10px;
}