#contact{
    @include container(100%,100%);
    @include display-flex(space-around,center);

    .page-name{
        @include stroke(transparent, 2px, #000000);
    }

    form{
        display: grid;
        width: 400px;
        padding: 4rem 0px;
        gap: 1rem;

        .send-email-btn{
            padding: 5px 15px;
            border-radius: 5px;
            color: #000000;
            background-color: transparent;
            border: 1.5px solid #000000;
            font-size: 1rem;
        
            &:hover{
                color: #fff;
                background-color: #000000;
                transition: .2s ease-in;
            }
        }
    }
}

.input-wrapper{
    padding-top: 10px;

    input{
        width: 100%;
        padding:3px 3rem;
        font-size: 1rem;
        border:none;
        border-bottom: 1.5px solid rgb(221, 220, 220);
    }
    
    i{
        position: absolute;
        color: #000000;
        font-size: 1.5rem;
        padding:0px 5px;
    }

    ::placeholder{
        font-size: 14px;
        color: #000000;
    }
}

textarea{
    border: 1.5px solid rgb(221, 220, 220);
    resize: none;
    border-radius: 5px;
}

