#home{
    &::before, &::after{
        position: absolute;
        color: #ebebeb;
        font-family: "Playfair Display", sans-serif;
        text-shadow: -6px 4px 15px rgba(0, 0, 0, 0.25);
        z-index: -1;
    }

    &::before{
        content: 'J';
        font-size: 100vh;
        bottom: 0;
        right: 18rem;
    }

    &::after{
        content: 'M';
        font-size: 30rem;
        bottom: -5rem;
        right: 0;
        z-index: -2;
    }
}

.home-container{
    @include container();
    @include display-flex(space-between, initial );
    flex-direction: column;

    header{
        padding: 1rem 0px;
    }
}

header, .logo-wrapper,.nav-menu{
    @include display-flex(space-between, center);

    .logo-wrapper{
        &__icon{
            width: 1.5rem;
            margin-right: 1rem;
        }

        h4{
            color: $text-color;
        }
    }

    .nav-menu> a{
        margin-left: 2rem;
        padding: 5px;
    }
}


.home-content{
    max-width: 650px;
    margin-bottom: 4rem;
    h1{
        color: $primary-color;
        font-family: 'Fjalla One', sans-serif;
        font-size: 5rem;
        letter-spacing: 5px;
        font-weight: bolder;
    }

    .icon-wrapper{
        font-size: 2.5rem;
        @include display-flex(none, center);

        &__link{
            padding-right: 1rem;
        }
    }
}
