.home-container{
    @include container(100%, 100vh);
    @include display-flex(center,center);
    background-color: $primary-color;
    color: #fff;
}

header{
    @include display-flex(space-between, center);
    position: fixed;
    width: 100%;
    padding: 1rem 3.5rem;
    top: 0;
    left: 0;
    background-color: $primary-color;
    z-index: 4;
    box-shadow:  0px 5px 15px rgb(0, 0, 0);

    .logo-wrapper{
        @include display-flex(center,center);
        &__icon{
            width: 1.5rem;
            margin-right: 1rem;
        }
    }
}

.home-content{
    display: grid;
    grid-template: auto 20%/ 50% auto;
    place-content: center;
    gap: 0px 1rem;

    h1{
        font-family: 'Anton', sans-serif;
        font-size: 5rem;
        letter-spacing: 5px;
        text-align: right;
    }

    h2{
        max-width: 350px;
        align-self: flex-end;
    };
}

.icon-wrapper{
    @include display-flex(initial, flex-end);
    grid-column-end:  3;
    align-self: flex-end;

    &__link{
        padding-right: 1rem;
    }
}

footer{
    background-color: $primary-color;
    color: #fff;
    padding: 2rem;
    text-align: center;
    
    .icons{
        @include display-flex(center,center);
    }

    i{padding-bottom: 1rem;}
}