#home{
    position: relative;
    &::before, &::after{
        position: absolute;
        color: #ebebeb;
        font-family: "Playfair Display", sans-serif;
        text-shadow: -6px 4px 15px rgba(0, 0, 0, 0.25);
        z-index: -1;
    }

    &::before{
        content: 'J';
        font-size: 100vh;
        bottom: 0;
        right: 18rem;
    }

    &::after{
        content: 'M';
        font-size: 30rem;
        bottom: -5rem;
        right: 0;
        z-index: -2;
    }
}

.home-container{
    @include container();
    @include display-flex(initial,flex-end);
}


header{
    @include display-flex(space-between, center);
    position: fixed;
    width: 100%;
    padding: 1.5rem 3.5rem;
    top: 0;
    left: 0;
    z-index: 4;

    .logo-wrapper{
        @include display-flex(center,center);
        &__icon{
            width: 1.5rem;
            margin-right: 1rem;
        }

        h4{
            color: $text-color;
        }
    }
}


.home-content{
    max-width: 650px;
    margin-bottom: 4rem;
    h1{
        color: $primary-color;
        font-family: 'Fjalla One', sans-serif;
        font-size: 5rem;
        letter-spacing: 5px;
        font-weight: bolder;
    }

    .icon-wrapper{
        font-size: 2.5rem;
        @include display-flex(none, center);

        &__link{
            padding-right: 1rem;
        }

        .contact-btn{
            padding: none;
        }
    }
}
