@mixin transitionEase {
    transition: all .4s linear;
}

.menu-btn{
    width: 45px;
    height: 35px;
    cursor: pointer;
    @include display-flex(center, center);
    @include transitionEase();

    &__burger{
        width: 30px;
        height: 3px;
        background-color: #fff;
        border-radius: 5px;
        @include transitionEase();

        &::before, &::after{
            content: '';
            position: absolute;
            width: 30px;
            height: 3px;
            background-color: #fff;
            border-radius: 5px;
            @include transitionEase();
        }

        &::before{
            transform: translateY(-8px);
        }

        &::after{
            transform: translateY(8px);
        }
    }
}

nav{
    @include display-flex(center,center);
    position: absolute;
    width: 0;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.211);
    backdrop-filter: blur(20px);
    z-index: -3;
    overflow: hidden;
    @include transitionEase();

    .nav-menu> a{
        text-align: center;
        padding: 5px;
        font-size: 1.5rem;
    }
}

