@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Poppins:wght@300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
}

a, li, i {
  color: #fff;
}

a:hover, li:hover, i:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: .1s ease-in;
  transition: .1s ease-in;
}

i {
  font-size: 2.5rem;
}

p {
  color: #848484;
  margin: 1rem 0px;
  font-size: 1.2rem;
}

::-webkit-scrollbar {
  display: none;
}

button {
  padding: 5px 15px;
  border-radius: 5px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  color: #000000;
  background-color: #fff;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

.page-name {
  text-align: right;
  font-size: 9vw;
  padding: 2rem 0px;
  font-family: 'Alfa Slab One', cursive;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.home-container {
  width: 100%;
  height: 100vh;
  padding: 1.5rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #121212), to(transparent)), url(/dist/assets/bg-pic.jpg) right no-repeat;
  background: linear-gradient(to right, #121212 50%, transparent), url(/dist/assets/bg-pic.jpg) right no-repeat;
  background-size: contain;
  background-color: #121212;
  color: #fff;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  padding: 1rem 3.5rem;
  top: 0;
  left: 0;
  background-color: #121212;
  z-index: 4;
  -webkit-box-shadow: 0px 5px 15px black;
          box-shadow: 0px 5px 15px black;
}

header .logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo-wrapper__icon {
  width: 1.5rem;
  margin-right: 1rem;
}

.home-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 20%;
  -ms-grid-columns: 50% auto;
      grid-template: auto 20%/ 50% auto;
  place-content: center;
  gap: 0px 1rem;
}

.home-content h1 {
  font-family: 'Anton', sans-serif;
  font-size: 5rem;
  letter-spacing: 5px;
  text-align: right;
}

.home-content h2 {
  max-width: 350px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  grid-column-end: 3;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.icon-wrapper__link {
  padding-right: 1rem;
}

footer {
  background-color: #121212;
  color: #fff;
  padding: 2rem;
  text-align: center;
}

footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer i {
  padding-bottom: 1rem;
}

.menu-btn {
  width: 45px;
  height: 35px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.menu-btn__burger {
  width: 30px;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.menu-btn__burger::before, .menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.menu-btn__burger::before {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.menu-btn__burger::after {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 0;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.211);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  z-index: -3;
  overflow: hidden;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

nav .nav-menu > a {
  text-align: center;
  padding: 5px;
  font-size: 1.5rem;
}

.about {
  width: 100%;
  height: 100%;
  padding: 1.5rem 2.5rem;
}

.about .page-name {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000000;
}

.about .about-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0px;
}

.about .about-content-wrapper .about__title, .about .about-content-wrapper .about__content {
  padding: 4rem 1.5rem;
}

.about .about-content-wrapper .about__title {
  border-right: 2px solid black;
  padding-bottom: 6rem;
}

.about .about-content-wrapper .about__title h1 {
  font-size: 4.5rem;
  text-align: right;
  font-family: 'Anton', sans-serif;
}

#projects {
  width: 100%;
  height: 100%;
  padding: 1.5rem 2.5rem;
  text-align: right;
  background-color: #121212;
}

#projects .page-name {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  text-align: left;
}

.grid-pictures__items {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-rows: auto auto auto;
  -ms-grid-columns: auto auto auto;
      grid-template: auto auto auto / auto auto auto;
  gap: 1.5rem;
  padding-top: 4rem;
}

.grid-pictures img {
  position: relative;
  width: 100%;
  -webkit-box-shadow: 0px 8px 12px black;
          box-shadow: 0px 8px 12px black;
}

.picture-wrapper {
  position: relative;
}

.picture-wrapper .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 7%;
  color: #fff;
  text-align: left;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 80% auto;
      grid-template-rows: auto 80% auto;
}

.picture-wrapper .overlay h1 {
  text-transform: uppercase;
  font-weight: bolder;
  font-family: 'Fjalla One', sans-serif;
}

.picture-wrapper .overlay p {
  color: #fff;
}

.picture-wrapper .overlay a {
  -ms-grid-column-align: right;
      justify-self: right;
}

.picture-wrapper .overlay:hover {
  background-color: rgba(11, 11, 11, 0.476);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  opacity: 1;
  -webkit-transition: .4s ease-in;
  transition: .4s ease-in;
}

#contact {
  width: 100%;
  height: 100%;
  padding: 1.5rem 2.5rem;
  padding-bottom: 5rem;
  display: -ms-grid;
  display: grid;
}

#contact .page-name {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000000;
  text-align: right;
}

#contact form {
  width: 400px;
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  gap: 1rem;
}

#contact form .send-email-btn {
  padding: 5px 15px;
  border-radius: 5px;
  color: #000000;
  background-color: transparent;
  border: 1.5px solid #000000;
  font-size: 1rem;
  cursor: pointer;
}

#contact form .send-email-btn:hover {
  color: #fff;
  background-color: #000000;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

.input-wrapper {
  padding-top: 10px;
}

.input-wrapper input {
  width: 100%;
  padding: 3px 3rem;
  border: none;
  border-bottom: 1.5px solid #dddcdc;
  font-size: 1rem;
}

.input-wrapper i {
  position: absolute;
  color: #000000;
  font-size: 1.5rem;
  padding: 0px 5px;
}

.input-wrapper ::-webkit-input-placeholder {
  color: #000000;
}

.input-wrapper :-ms-input-placeholder {
  color: #000000;
}

.input-wrapper ::-ms-input-placeholder {
  color: #000000;
}

.input-wrapper ::placeholder {
  color: #000000;
}

textarea {
  border: 1.5px solid #dddcdc;
  resize: none;
  border-radius: 5px;
}

@media screen and (max-width: 992px) {
  .grid-pictures__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto;
    -ms-grid-columns: auto auto;
        grid-template: auto auto / auto auto;
  }
  .picture-wrapper h1 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 1rem;
  }
  p {
    font-size: 12px;
  }
  i {
    font-size: 2rem;
  }
  button {
    font-size: 12px;
  }
  header {
    padding: 1rem 1.5rem;
  }
  header h3 {
    font-size: 1rem;
  }
  .home-container {
    background: #121212;
  }
  .home-content {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 5rem 0px;
  }
  .home-content h1 {
    font-size: 2rem;
    text-align: left;
  }
  .home-content h2 {
    text-align: center;
    font-size: 12px;
    padding-top: 1rem;
  }
  .home-content .icon-wrapper {
    padding-top: 1.8rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .about .about-content-wrapper {
    display: -ms-grid;
    display: grid;
  }
  .about .about-content-wrapper .about__title, .about .about-content-wrapper .about__content {
    padding: 1rem 0px;
  }
  .about .about-content-wrapper .about__title {
    border-right: none;
  }
  .about .about-content-wrapper .about__title h1 {
    font-size: 3rem;
    text-align: center;
  }
  .grid-pictures__items {
    display: -ms-grid;
    display: grid;
    grid-template: none;
  }
  .picture-wrapper h1 {
    font-size: 1rem;
  }
  form {
    max-width: 300px;
  }
}
/*# sourceMappingURL=main.css.map */