@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Playfair+Display:wght@700&family=Poppins:wght@300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
}

a, li, i {
  color: #000000;
}

p {
  color: #848484;
  margin: 1rem 0px;
  font-size: 1.2rem;
}

::-webkit-scrollbar {
  display: none;
}

button {
  padding: 5px 15px;
  border-radius: 20px;
  color: #000000;
  background-color: transparent;
  border: 2px solid #000000;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  color: white;
  background-color: black;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

.home-container {
  width: 100%;
  height: 100vh;
  padding: 1.5rem 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home, #about {
  display: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  padding: 1.5rem 3.5rem;
  top: 0;
  left: 0;
  z-index: 4;
}

header .logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo-wrapper__icon {
  width: 1.5rem;
  margin-right: 1rem;
}

header .logo-wrapper h4 {
  color: #848484;
}

.home-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 90% 20%;
  -ms-grid-columns: 50% auto;
      grid-template: 90% 20%/ 50% auto;
  place-content: center;
  gap: 0px 1rem;
}

.home-content h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 7vw;
  letter-spacing: 7px;
  text-align: right;
}

.home-content h2 {
  max-width: 350px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.home-content .icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 2.5rem;
  grid-column-end: 3;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.home-content .icon-wrapper__link {
  padding-right: 1rem;
}

.home-content .icon-wrapper .contact-btn {
  margin-bottom: 9px;
}

.menu-btn {
  width: 45px;
  height: 35px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.menu-btn__burger {
  width: 30px;
  height: 3px;
  background-color: #000000;
  border-radius: 5px;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.menu-btn__burger::before, .menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #000000;
  border-radius: 5px;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.menu-btn__burger::before {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.menu-btn__burger::after {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 0;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.102);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: -3;
  overflow: hidden;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

nav .nav-menu > a {
  text-align: center;
  padding: 5px;
  font-size: 1.5rem;
}

.about {
  width: 100%;
  height: 100vh;
  padding: 1.5rem 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__title, .about__content {
  padding: 4rem 1rem;
}

.about__title {
  border-right: 2px solid black;
  padding-bottom: 6rem;
}

.about__title h1 {
  font-size: 4.5rem;
  text-align: right;
  font-family: "Playfair Display", sans-serif;
}

.about__content {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.grid-pictures {
  width: 100%;
  height: 100vh;
  padding: 1.5rem 3.5rem;
}

.grid-pictures__items {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-rows: auto auto auto;
  -ms-grid-columns: auto auto auto;
      grid-template: auto auto auto / auto auto auto;
  gap: 1.5rem;
}

img {
  width: 100%;
  -webkit-box-shadow: 0px 5px 10px rgba(11, 11, 11, 0.476);
          box-shadow: 0px 5px 10px rgba(11, 11, 11, 0.476);
}

@media screen and (max-width: 576px) {
  .grid-pictures__items {
    display: -ms-grid;
    display: grid;
    grid-template: none;
  }
}
/*# sourceMappingURL=main.css.map */